<h2>Technologies</h2><hr>
<body>
  <div class="container">
    <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="card" style="width:200px">
            <img class="card-img-top" src="assets/corejava.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Core Java Technologies</h4>
              <p class="card-text">In this course you will be trained on Core Java,JDBC,Hibernate </p>
         
              <a routerLink = "/contact/java" routerLinkActive='active' class="btn btn-primary">Enrol Now</a>
            </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card" style="width:200px">
            <img class="card-img-top" src="assets/adjava.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Advance Java Technologies</h4>
              <p class="card-text">In this course you will be trained Spring framework,Springboot,Microservices </p>
         
              <a routerLink = "/contact/web" routerLinkActive='active' class="btn btn-primary">Enrol Now</a>
            </div>
            </div>
        </div>
    </div>
</div>
    </body>
    <router-outlet></router-outlet>